html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	margin: 0; 
	padding: 0;
	}
    .nav{

    }
    .top{

    }
    .about{

    }
    .projects{

    }
    .footer{
        
    }