
html {
	margin: 0;
	padding: 0;
	}
body { 
	margin: 0; 
	padding: 0;
	}

    .nav{
        background-color: #e7dcc8;
        width: 100%;
        height: 50px;
        position: fixed;
        margin-bottom: -20%;
    }
    
    .top{
        
        /* background-color: #582719; 
        display: flex; */
        align-items: center !important;
        text-align: center !important;
        justify-content: center !important;
        height: 10% !important;
        min-height: fit-content !important;
        
    }
    .profile{
       margin-top:0px !important;
    }
   .top img{
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100% !important; 
        height: 60vh !important;
        margin-bottom: -200px !important;
        display: flex !important;
       flex-direction: column !important;
    }
   
   
    .footer{
    background-color: #e7dcc8;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    margin-top: 50px;
    }
    .shapeP{
        margin-top: 15%;
        height: 17.8%;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .shapeC{
        width: 100%;
        height: 100%;
        max-width: 1920px;
    }
    .shapeP img{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 70px;
    }
    @media screen and (max-width: 1110px) {
        .shapeP{
            display: flex;
            align-items: flex-end;
        }
        
    }
    .pInfo{
        display: flex !important;
        align-items: center !important;
        text-align: center!important;
        justify-content: center !important;
        height: 10% !important;
        min-height: fit-content !important;

    }
    .pCont{
        display: flex !important;
        align-items: center !important;
        color: aliceblue !important;
    }
    .pDEtails{
        margin-bottom: 30%;
        
    }
    .pdName{
        font-size: 24px !important;
        font-family: "Poppins SemiBold" !important;
        margin-top: 3em;
    }
    span.nameH{
        color: orangered !important;
    }
    span.pText{
        color: white !important;
    }
    .pdRole{
        display: flex !important;
        flex-direction: column !important;
        margin: 3em 0 24px 0 !important;
    }
    span.pTag{
        font-size: 19px !important;
        
        font-family: "Poppins Light" !important;

    }
   
    .profilepic{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 0px 0px var(--white);
        border-radius: 50%;
        height: 380px !important;
        width: 380px !important;
        /*margin: 0 0px 0 100px;*/
        margin-left: 500px;
       
        margin-top: -7%;

    }
    .profilebg img{
        height: 90% !important;
        width: 90% !important;
        background-size: cover !important;
        border-radius: 50%;
        background-repeat: no-repeat !important;
    }
    .home{
        margin-top: -30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 400px;
        margin-bottom: -200px;
    }
   
    a.button2{
        display:inline-block;
        padding:0.5em 3em;
        border:0.16em solid #FFFFFF;
        margin:7em 3em 1em 0;
        box-sizing: border-box;
        text-decoration:none;
        text-transform:uppercase;
        font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
        }
        a.button2:hover{
        color:#582719;
        border-color:#582719;
        }
        a.button2:active{
        color:#582719;
        border-color:#582719;
        }
        @media all and (max-width:30em){
        a.button2{
        display:block;
        margin:0.4em auto;
        }
        }
        .about{
            
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
    
        }
        /*Button 3*/

        a.button3{
            display:inline-block;
            
            padding:0.5em 10em;
            border:0.16em solid #e7dcc8;
            margin:7em 3em 1em 0;
            box-sizing: border-box;
            text-decoration:none;
            text-transform:uppercase;
            font-family:'Roboto',sans-serif;
            font-weight:400;
            color:#582719;
            text-align:center;
            transition: all 0.15s;
            
            }
            a.button3:hover{
            color:#582719;
            border-color:#582719;
            }
            a.button3:active{
            color:#582719;
            border-color:#582719;
            }
            @media all and (max-width:30em){
            a.button3{
            display:block;
            margin:0.4em auto;
            }
            }
.btnbtn{
    padding-left: 25%;
    padding-right: 25%;
}
            .about{
                
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
        
            }

        .abtPic{
            background-color: #e7dcc8;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin-left: 80px;
            padding-bottom: 2%;
            margin-bottom: 1%;

        }
        .abtText{
            background-color: #e7dcc8;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin-right: 80px;
            padding-bottom: 2%;
            margin-bottom: 1%;

        }
        /* .projects{
            background-color: #582719;
            width: 100%;
            height: 900px;
    
        }*/
        .p{
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            margin: 2% 2% 0 0;
        }
        .p1{
            background-color: #582719;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin: 0 30px;
            padding-bottom: 2%;
           
        }
        .p2{
            background-color: #582719;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin:0 30px;
            padding-bottom: 2%;
            
        }
        .p3{
            background-color: #582719;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin:0 30px;
            padding-bottom: 2%;
            
        }
        .p4{
            background-color: #582719;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin: 0 30px;
            padding-bottom: 2%;
          
        }
        .p5{
            background-color: #582719;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin: 0 30px;
            padding-bottom: 2%;
            
        }
        .p6{
            background-color: #582719;
            float: left;
            border-radius: 5%;
            width:800px;
            height: 600px;
            margin: 0 30px;
            padding-bottom: 2%;
            margin-bottom: 1%;
        }