html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	margin: 0; 
	padding: 0;
	}
    .nav{
        background-color: #e7dcc8;
        width: 100%;
        height: 50px;


    }
    .top{
        background-color: #582719;
        width: 100%;
        height: 600px;


    }
    .about{
        background-color: #e7dcc8;
        width: 100%;
        height: 700px;


    }
    .projects{
        background-color: #582719;
        width: 100%;
        height: 900px;

    }
    .footer{
    background-color: #e7dcc8;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    margin-top: 50px;
    }